<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> -->
  <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
  <%= csrf_meta_tags %>
</head>
<font face="Arial">
<h1><font color="red">a/A</font> || AppAcademy Records || <img src="http://a2.mzstatic.com/us/r30/Purple62/v4/c1/49/5a/c1495af1-04c1-f034-f21c-23bdf99cab5c/icon128-2x.png" height="35" width="35"></h1>
<hr>
<header>
    <% if logged_in? %>

      <%= current_user.email %> is currently logged in ...
      <form action="<%= session_url %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Sign Out">
      </form>

    <% else %>

      <form action="<%=new_session_url %>" method="GET">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
        <input type ="submit" value="Log in">
      </form>

    <% end %>

</header>

<body>

<%= yield %>

</body>
</font>
</html>
